.wrapper > div {
    border: 1px solid black;
    margin: 0.2em;
    padding: 0.2em;
 }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .column { 
     width: 100%;
   }
 }


 /* The sidebar menu */
.sidenav {
   /* height: 100%; Full-height: remove this if you want "auto" height */
   width: 100%; /*Set the width of the sidebar */
   padding: 20px 20px 20px 20px;
   /* margin: 0px 0px 0px 20 */
   /*position: fixed; /*Fixed Sidebar (stay in place on scroll) */
   /* z-index: 1; Stay on top */
   /* top: 200; Stay at the top */
   /* left: -100; */
   background-color: rgb(165, 158, 158);
   /* overflow-x: hidden; Disable horizontal scroll */
   padding-top: 20px; 
   margin: 100px 8px 6px 120px; 

   position: fixed;
   overflow-y: scroll;
   overflow-x: scroll;
   top: 0;
   bottom: 0;
 }


 .container.custom-container {
  padding: 0 0px;
  margin-left: 10%;
  margin-right: 0%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
}