.jumbotron {
  background-size: cover; 
} 

/* h1 {color: red}
.h1 {color: red}
a {font-size: 24px;} */
/* .jumbotron-content {
  color: white;
  style="background-image:url({{url_for('static', filename='Orion_nebula_horsehead_nebula.jpg')}})"
}*/
/* 
.test{
  color: brown;
} */