{% extends 'base.html' %}

<!--next commented section is for if you want to change the title 
    of the homepage (keeping here in case needed later)-->

<!-- {% block header %}
    <h1>{% block title %}Home {% endblock %}</h1>
{% endblock %} -->

{% block content %}
    <div class="container">
        <div class="col-2"></div>
        <div class="col">

            <div class="about-section">
                <h1>Data</h1>
                <p>Information about the data here</p>
            </div>
            <div class="row">
                
            </div>
        </div>
              
        <div class="col-2"></div>
        <div class="row bottom-buffer"></div>
    </div>
    <div class="row bottom-buffer"></div>
{% endblock %}