
{% extends 'base.html' %}

<!--next commented section is for if you want to change the title 
    of the homepage (keeping here in case needed later)-->

<!-- {% block header %}
    <h1>{% block title %}Home {% endblock %}</h1>
{% endblock %} -->

{% block content %}
    <!--background image-->
    <div class="jumbotron" style="background-image:url({{url_for('static', filename='Orion_nebula_horsehead_nebula.jpg')}})">
        <div class="jumbotron-content">
            <div class="container">
                <div class="row">
                    <div class="card-deck">
                        <!--text description-->
                        <div class="card mr-5">
                            <div class="card-body">
                                <h2 class="card-title">Research Title</h2>
                                <p class="card-text">
                                    {{ description }}
                                </p>
                            </div>
                        </div>
                        <!--picture of research-->
                        <div class="card ml-5">
                            <div class="card-body">
                                <img class="card-img-top" src="{{url_for('static', filename='NormalizedFluxVsVelocity.PNG')}}" alt="{{url_for('static', filename='NormalizedFluxVsVelocity.PNG')}}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-2"></div>
        <div class="col">
            <div class="row">
                <header>
                    <h1>About</h1>
                </header>
            </div>
            <div class="row">
                <div class="text-from-file">
                    <p>
                        {{ description }}
                    </p>
                </div>
                <!-- <div class="col">
                    <p>
                        {{ description }}
                    </p>
                </div> -->
            </div>
        </div>
        <div class="col-2"></div>

    </div>
{% endblock %}
