
{% extends 'base.html' %}

<!--next commented section is for if you want to change the title 
    of the homepage (keeping here in case needed later)-->

<!-- {% block header %}
    <h1>{% block title %}Home {% endblock %}</h1>
{% endblock %} -->

{% block content %}
    <!--background image-->
    <div class="jumbotron" style="background-image:url({{url_for('static', filename='Orion_nebula_horsehead_nebula.jpg')}})">
        <div class="jumbotron-content">
            <div class="container">
                <div class="row">
                    <div class="card-deck">
                        <!--text description-->
                        <div class="card mr-5">
                            <p>
                                <h5 class="card-title">Research Title</h5>
                            </p>
                            <p class="card-body">
                                <!--KG note for later:  ideally this will be imported from a text/csv file-->
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            </p>
                        </div>
                        <!--picture of research-->
                        <div class="card ml-5">
                            <div class="card-body">
                                <img class="card-img-top" src="{{url_for('static', filename='NormalizedFluxVsVelocity.png')}}" alt="Card image cap">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}