<!-- 
  TITLE: Login Page
  CONTRIBUTORS: Audrey Nguyen
  DESCRIPTION: Contains login form
-->

{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col">
        <div class="about-section">
            <h1>Sign In</h1>
        </div>
        <div class="row mb-4">
            <!-- Spacer -->
            <div class="col-4"> </div>
            <!-- Form -->
            <div class="col-4">
                <br>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
                <!-- Link to register -->
                <p>Don't have an account? <a href="{{ url_for('register') }}">Click to Register!</a></p>
            </div>
            <!-- Spacer -->
            <div class="col-4"> </div>
        </div>

    </div>
    <div class="col-2"></div>
    <div class="row bottom-buffer"></div>
</div>
<div class="row bottom-buffer"></div>
{% endblock %}