<!-- 
  TITLE: Test Page
  CONTRIBUTORS: Audrey Nguyen
  DESCRIPTION: Temporary page used for testing
--> 

{% extends 'base.html' %}

<!--next commented section is for if you want to change the title 
    of the homepage (keeping here in case needed later)-->

<!-- {% block header %}
    <h1>{% block title %}Home {% endblock %}</h1>
{% endblock %} -->

{% block content %}
<form action="" method="POST">
    <div class="row">
        <div class="col-2">
            <div class="sidenav">
                <div class="container">
                </div>
            </div>
        </div>
        
        <div class="custom-container container">
            <div class="col-12">
                <div class="about-section">
                    <h1>Data</h1>
                    <p></p>
                </div>
                <br>
                <br>
                <table class="table table-hover table-bordered table-sm table-striped">
                </table>
            </div>
        </div>
    </div>
</form>
<div class="row bottom-buffer"></div>
<div class="row bottom-buffer"></div>
{% endblock %}